.bundle
db/*.sqlite3
coverage
db/schema.rb
log/*.log
tmp/**/*
*.swp
doc/app
config/database.yml
public/photos
config/initializers/error_mail.rb
config/deploy.rb
config/deploy/*
.capistrano
config/initializers/secret_token.rb
