@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
@import url(http://fonts.googleapis.com/css?family=Doppio+One:400,700);

body {
  background: #fff;
  font-family: 'Kreon';
  color: #666;
  font-size:14px;
}

#container {
  width:800px;
  margin: auto;
}

a        {text-decoration: none}
a:hover  {text-decoration: underline}
a,
a:visited{color: #008}
a img {border:none}

h1 {font-size: 25px}
h2 {font-size: 17px}

h1,h2 {
  font-family: sans-serif;
  margin:0;
  letter-spacing: -1px;
  a,a:visited {color: inherit}
}

blockquote {
        border-left: 4px #66a solid;
        padding-left: 10px;
}

.clear {clear:both;height:20px;}

header nav,#icons {
  font-family: sans-serif;
  text-size: 18px;
  margin: 20px 0;
  float:left;
}

#icons {
  float:right;
}

#content {
  clear: both;
  line-height:1.4;
  time {
    font-family: 'Doppio One',monospace;
    font-size: 11px;
    margin:0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
  }
  h1,h2 {
    margin:0;
    color: #444;
  }
  .post {
    margin-bottom:60px;
  }
  .quarter {
    float:left;
    width:290px;
    margin-right:10px;
    box-shadow: 10px;
  }
  .front_box {
    font-size: 13px;
    width: 390px;
    border: #666 2px solid;
    padding: 0;
    float:left;
    h1 {
      background: #666;
      color: #fff;
      padding: 3px 10px;
    }
    p,ul {
      margin: 10px
    }
}
}

.feature {
  margin-bottom:20px;
  width: 800px;
  clear:both;
  img,p {
    float:left; 
    width:350px;
  }
  p {
    font-size: 16px;
    margin: 0;
    margin-bottom: 15px;
    margin-left: 20px;
    width:430px;
  }
}

