@import url(http://fonts.googleapis.com/css?family=Kreon:400,700);
@import url(http://fonts.googleapis.com/css?family=Doppio+One:400,700);
body {
  background: #fff;
  font-family: 'Kreon';
  color: #666;
  font-size: 14px; }

#container {
  width: 800px;
  margin: auto; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a,
a:visited {
  color: #008; }

h1 {
  font-size: 25px; }

h2 {
  font-size: 17px; }

h1, h2 {
  font-family: sans-serif;
  margin: 0;
  letter-spacing: -1px; }
  h1 a, h1 a:visited, h2 a, h2 a:visited {
    color: inherit; }

header nav, #icons {
  font-family: sans-serif;
  text-size: 18px;
  margin: 20px 0;
  float: left; }

#icons {
  float: right; }

#content {
  clear: both;
  line-height: 1.4; }
  #content time {
    font-family: 'Doppio One',monospace;
    font-size: 11px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold; }
  #content h1, #content h2 {
    margin: 0;
    color: #444; }
  #content .post {
    margin-bottom: 60px; }
  #content .quarter {
    float: left;
    width: 290px;
    margin-right: 10px;
    box-shadow: 10px; }
