- unless target.created_by.nil? or target.created_by == target.person
  %b 
    Set by 
    = target.created_by.name
%p= target.body
- unless target.actions.blank?
  %p
    %b Actions: 
    = target.actions
