.container.nrp
  %nav.navbar.navbar-default
    .navbar-header
      %button.navbar-toggle{"data-toggle" => "collapse", "data-target" => "#navbar-collapse"}
        %i.fa.fa-bars
      %a(data-toggle="modal" data-target="#leap-about-modal")
        %img.navbar-brand{src: "/assets/icons/leap-logo.png"}
    #navbar-collapse.collapse.navbar-collapse
      = render "layouts/top_bar/search"
      %ul.nav.navbar-nav
        = render "layouts/top_bar/admin_menu"
        = render "layouts/top_bar/write_note"
      %button.navbar-btn.btn.btn-default.navbar-right.visible-sm#show-sidebar
        %i.fa.fa-bars
      %p.navbar-text.navbar-right
        %span.hidden-sm
          Logged in as
        %a.navbar-link{href: "/"} {{ user.name }}
