%form(ng-show="user.staff"){action: "/people/search", method: :get, class: "navbar-form navbar-left"}
  .input-group
    %input.form-control{name: "q", placeholder: "Search..."}
    %span.input-group-btn
      %button.btn.btn-default{type: "submit"}
        %i.fa.fa-search
        Go

