#attendance.block.right
  - unless @attendances.empty?
    .icon
      %h4 Attendance
      %h1{:class => "fg_#{@attendances.last.try(:status)}"}= "#{@attendances.last.try(:att_year)}%"
    .content
      &nbsp;
      %img{:src => attendance_graph(@attendances)}
  - else
    %b You have no attendance data, yet.
