.panel.panel-default
  .panel-heading
    %h4.panel-title 
      %i.fa.fa-certificate.fa-fw
      Badges
  .panel-body
    - if badges[:moodle].present?
      - if Settings.home_page == "progress"
        - badge_list = badges[:moodle]
      - else
        - badge_list = badges[:moodle].last.all_in_course      
      - badge_list.each do |badge|
        .col-xs-2.ppd_badge
          = link_to badge.link_url, :title => badge[:title], "data-toggle" => "popover", "data-content" => badge[:description] do
            = image_tag badge.image_url, :class => "img-responsive"
    - if badges[:course].present?
      - badges[:course].all_in_course.each do |badge|
        - next if badge_list.detect{|bl| bl.id == badge.id}      
        .col-xs-2.ppd_badge
          = link_to badge.link_url, :title => badge[:title], "data-toggle" => "popover", "data-content" => badge[:description] do
            = image_tag badge.image_url, :class => "img-responsive"
    - if !badges[:moodle].present? && !badges[:course].present?
      Once achieved, your badges will appear here
    - else
      :coffeescript
        $('.ppd_badge').mouseover ->
          $('#current_badge').html($(this).find('a').attr("title"))
