.panel.panel-default
  .panel-heading
    %h4.panel-title My Badges
  .panel-body
    - if badges.present?
      - badges.last.all_in_course.each do |badge|
        .col-xs-2.ppd_badge
          = link_to badge.link_url, :title => badge[:title], "data-toggle" => "popover", "data-content" => badge[:description] do
            = image_tag badge.image_url, :class => "img-responsive"
      :coffeescript
        $('.ppd_badge').mouseover ->
          $('#current_badge').html($(this).find('a').attr("title"))
    - else
      Once achieved, your badges will appear here
