.row
  .col-xs-12
    %i.fa.fa-info-circle.fa-2x.modal-text{"aria-hidden" => "true", "data-target" => "#newsModal", "data-toggle" => "modal", :style => "color: #4f2170"}
#newsModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title.modal-text Welcome to South Devon College
      .modal-body
        %p You can use LEAP to support your learning throughout this year. You can look at your <strong>timetable</strong>, check the <strong>progress</strong> of your studies and be updated on the <strong>latest news</strong> and <strong>upcoming events</strong>.
        %p <i>Remember to also check Moodle regularly, this is where you will find lots of information and support materials about your programme of study; including English, maths and tutorial.</i>
      .modal-footer
        %a{:href => "http://moodle.southdevon.ac.uk", :target => "_blank"}
          %button.btn.btn-default.center.modal-button.width-100{:type => "button"} Click Here to go to Moodle
- if @notify
  :javascript
    $( document ).ready(function() {
      $('#newsModal').modal('show');
    });
