%h3 
  Attend
  = @attendances.last.try(:att_year)
  = "%"
.span4
  - unless @attendances.empty?
    &nbsp;
    %img{:src => attendance_graph(@attendances)}
  - else
    .alert You have no attendance data, yet.
