.row
  .span12
    %h1 Search Results:
    - unless @courses.empty?
      %h2 People
.row= render @people
- if params[:commit] == "Search"
  #search_extended.person
    .person_photo
      =image_tag("not_found.png")
    .details
      Click here to extend your search
- unless @courses.empty?
  .row
    %h2 Courses
    .results_courses= render @courses
