%h1 Search
- form_tag search_people_url, :method => :get do
  = text_field_tag :q, params[:q]
  = check_box_tag :search_mis, 1, params[:search_mis]
  Extended
  = submit_tag
- if @people
  = render @people
