.main_search
  .search_logo
    =link_to image_tag("leap-logo.png"), search_people_url
  - form_tag search_people_url, :method => :get, :id=> "search_form" do
    = text_field_tag :q, params[:q]
    .search_fields
      = submit_tag "Search", :class => "styled_button", :id => "home_search"
    #results  
      - if @people
        .results_people
          = render @people
          - if params[:commit] == "Search"
            #search_extended.person
              .person_photo
                =image_tag("not_found.png")
              .details
                Click here to extend your search
        - if @people.empty? and params[:commit] != "Search"
          .no_results
            %b Unfortunately, your search yielded no results. Please check your search.
      - else
        .results_notice
          %b You are about to access an area containing personal data.
          %br 
          %br 
          %p Information in this area must be treated in accordance with the requirements of the Data Protection Act 1998 and should not be divulged to anyone other than the student or the student’s tutor. 
