%h3 
  Due Targets
  = link_to image_tag("target_home.png"), person_view_url(@topic,View.find_by_name("targets"))
.span4
  .scroll-list
    - if @targets.empty?
      .alert You have no targets, yet.
    - else
      %table.table.table-condensed
        - @targets.each do |target|
          %tr.has_tooltip{:class => target.status, :title => target[:body]}
            %td= pretty_date target.target_date
            %td= link_to truncate(target[:body], :length => 30), person_view_url(@topic, View.find_by_name("targets"), :anchor => dom_id(target.events.last))
