#timetable_date
  #previous_week
    %p < previous week
  #calendar
    %p calendar placeholder
  #next_week
    %p next week >
#hours
  - 8.upto(20) do |h|
    .hour
      %h2= "#{h}.00"
- @date.upto(@date.end_of_week - 1.day) do |day|
  = render :partial => "day", :object => day, :locals => {:slots => @registers.select {|r| r.start > day and r.start < day.tomorrow.midnight }}
