#more_events_div {
  clear: both;
  text-align:center;
  font-size:14px;
  font-weight: bold;
  a {
    @include hover-link;
  }
}

#current_time_break {
  @include column(20,true);
  font-weight: bold;
  margin-bottom: 9px;
  color: #4da4e2;
  hr {
    border: solid 1px #4da4e2;
  }
}

.event {
  @include column(20, true);
  margin-bottom: 9px;
  line-height:1;
  background-color: #ccc;    
  @include border-radius;
  
  &>.inner{
    padding-top: 9px;  
    border: 2px solid $border-color;
    @include border-radius;
    @include clearfix;  
  }
  
  h1,h2 {
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4;
    .big {
      font-size: 26px;
      font-weight: normal;
    }
  }

  .icon{
    text-align: center;
    img {
      @include border-radius;
    }
  }

  .time {
    color: $quiet-color
  }

  header>* {
    @include column(2);
    height:48px;
    @include border(lighten($border-color,33%),2px);
  }
  
  header>h1 {
    @include column(3);
    &.event_person {
      @include column(4);
      * {
        float: left
      }
      img {
        margin-right: 4px;
        @include border-radius($default-border-radius / 2);
      }
    }
  }

  &.single .body {
    @include column(12,true);
  }

  &.multi {
    .body {
      @include column(8,true);
    }
    header.subtitle+.body {
      @include column(6,true);
    }
  }
  .event_person a{
    @include hover-link;
  }

  header.subtitle+.body {
    @include column(10,true);
  }
  
  .buttons {
    padding-top: 15px;
    display: inline;
    float: left;
    width: 25px;
  }

  .extended {
    @include column(18);
    margin: 3px 15px;
    .tabs {
      margin: 5px 0;
      @include column(18);
      border-bottom: 1px solid lighten($border-color,33%);
      li {
        @include column(3);
        list-style:none;
        background: lighten($border-color,33%);
        text-align: center;
        font-weight: bold;
        padding: 4px 0 2px 0;
        &:hover {
          background: lighten($border-color,45%);
        }
        a { 
          color: inherit;
          text-decoration:none;
        }
      }
    }
    .tab {
      clear: both
    }
    .target_body,.target_actions,.target_reflection {
      @include column(7);
    }
    .target_date {
      @include column(4,last);
      #target_target_date {
        @include column(4)
      }
      #target_complete_date_1i {
        width: 54px;
      }
      input#complete {
        width: 88px;
      }
    }
    .review_scores {
      @include column(6);
    }
    textarea{
      @include column(8);

    }
    .review_attendance {
      margin-top: 1ex;
      @include column(2);
      text-align: center;
      .score {
        font-size: 18px;
      }
    }
    .review_controls {
      margin-top: 1ex;
      @include column(3,true);
    }
    textarea {
      width: 250px;
      height: 54px;
    }
  }

  .attendance .body {
    img {
      @include column(6);
    }
    dl {
      margin: 0;
    }
    dd {
      margin-bottom: 2px;
    }
  }
  &.multi .attendance .body dl {
    display: none
  }

  .attachments {
    @include column(18);
    margin: 3px 15px;
  }
  
  .mini {
    @include column(19);
    .icon {
      @include column(1);
      text-align:center;
    }
    h2 {
      @include column(2);
    }
    h1 {
      @include column(3);
    }
    .body {
      @include column(12,true);
      margin: 3px 0;
    }
  }
}

#new_support_request {
  .select{
    @include column(5);
  }
  select {
    margin-top:0;
    height: 90px;
    @include column(4,true);
  }
  .sumbit {
    @include column(2);
    @include prepend-top;
  }
}

.support_request .body {
  line-height: 18px;
  dl,dt,dd {
    display: inline
  }
}
