#person_home .block {
  border: $border-color 2px solid;
  @include clearfix;
  @include border-radius;
  background-color: #fff;
  margin: 0 0 10px 0;
  padding: 10px;
}

.person_home_container {
  @include column(10);
  margin-bottom: 10px;
}

#next_lesson {
  h4{
    @include column(3);
    font-size: 18px;
    font-weight: bold;    
    margin-bottom: 0;
  }
  h5 {
    @include column(6);
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
  }
}

#personal_details{
  dl{
    @include clearfix;
  }
  dt{
    @include column(3);
    text-align: left;
  }
  dd{
    @include column(6);
  }
}

