h3 {
  margin: 5px 0 0 10px;
}
.person_home_full_block, .person_home_small_block{
  border: $border-color 2px solid;
  @include clearfix;
  @include border-radius;
  background-color: #fff;
  margin: 0 0 10px 0;
}
#personal_details{
  dt{
    @include column(2);
    text-align: left;
    margin-left: 15px;
  }
  dd{
    @include column(7);
    margin-left: 0;
  }
}
.person_home_small_block {

}
.last {
  @include column(10, true);  
}
.person_home_container {
  @include column(10);
}
.timetable_start {
  @include column(3);
  font-size: 16px;
  font-weight: bold;
  margin-left:15px;
}
.timetable_title {
  @include column(6);
  font-size: 14px;
  font-weight: bold;  
}
.timetable_room {
  @include column(3);
  clear: left;
  font-size: 14px;
  font-weight: bold;    
  margin-left:15px;  
}

.timetable_desc {
  @include column(6);
}
