#person_home .block {
  border: $border-color 2px solid;
  @include clearfix;
  @include border-radius;
  margin: 0 0 10px 0;
  padding: 10px;
}

.person_home_container {
  @include column(10);
  margin-bottom: 10px;
}

#personal_details{
  dl{
    @include clearfix;
  }
  dt{
    @include column(3);
    text-align: left;
  }
  dd{
    @include column(6);
  }
}

#your_thoughts {
  #note_body {
    @include column(17);
  }
  input {
    margin:0;
    font-size: 18px;
    color: $quiet-color;
  }
}

#next_lesson {
  cursor: pointer;
  font-weight: bold;    
  table {
    margin: 0px;
  }
  th{
    font-size: 20px;
    width:190px;
  }
  td {
    font-size: 16px;
  }
}

#attendance {
  img {
    @include column(6);
  }
  .percent {
    @include column(3);
    * {
      margin: 0;
    }
    h1 {
      @include text-shadow;
      font-weight: bold;
    }
  }
}

#targets{
  img {
    @include column(2);
  }
  #target_list {
    @include column(7,true);
    height: 72px;
    overflow:auto;
  }
}

#moodle_course {
  img {
    @include column(2);
  }
  #moodle_course_list {
    @include column(7,true);
    height: 100px;
    overflow:auto;
  }
}
