#side_pane {
 
  h1 {
    font-size: 20px;
    @include text-shadow;
    margin-bottom:0;
    @include prepend-top(1ex);
  }

  h1,h2,h3,h4,h5,#person_photo{
    text-align: center;
  }
  
  #person_photo{
    width: 130px;
    height: 130px;
    margin-left:8px;
    background-image: url(/images/pic-loading.gif);
    background-position: 50% 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px $border-color solid;
    @include border-radius;
    @include box-shadow;
    img {
      @include border-radius;
    }
  }

  nav { 
    @include prepend-top;
    .sidebar_button{
      @include column(4);
      .icon {
        @include column(1);
      }
      .label {
        @include column(3,true);
        font-size: 13px;
        font-weight: bold;
        a {      
          @include link-colors($font-color, mix($font-color,#00f));
          @include hover-link;
        }
      }
    }
  }
}
