#side_pane {

  h1 {
    font-size: 20px;
    @include text-shadow;
    margin-bottom:0;
    @include prepend-top(1ex);
  }

  h5 a {
    @include unstyled-link;
    @include hover-link;
  }

  #person_photo{
    width: 130px;
    height: 130px;
    background-image: url(/images/pic-loading.gif);
    background-position: 50% 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px $border-color solid;
    @include border-radius;
    @include box-shadow;
    img {
      @include border-radius;
    }
  }

  nav { 
    @include prepend-top;
    h3 {
      @include prepend-top;
      @include column(4, true);
    }
    .sidebar_button{
      @include column(4);
      @include link-colors($font-color, mix($font-color,#00f));
      @include hover-link;
      .icon {
        @include column(1);
      }
      .label {
        @include column(3,true);
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}

#event_header {
  form{
    background: #fff;
    border: 1px solid $border-color;
    padding:1em;
    @include border-radius;
    @include column(19,true);
    @include append-bottom;
  }
  h4 {
    font-weight: bold;
    margin-bottom: 3px;
  }
  div {
    margin-bottom: 1ex;
  }
  .new_event_link {
    @include column(3);
    @include link-colors($font-color, mix($font-color,#00f));
    @include hover-link;
    .icon {
      @include column(1);
    }
    .text {
      @include column(2,true);
    }
  }
  #event_controls {
    .icon {
      @include column(2);
    }
    textarea {
      height: 48px;
    }
    textarea,table {
      @include column(14);
    }
    input,textarea {
      margin-top:0;
    }
    .sumbit {
      @include column(2);
    }
  }
}

.hovery {
  position: fixed;
  bottom:0px;
  right:0px;
  font-size:0;
}
