#hours {
  @include prepend-top(18px);
  @include column(1);
  .hour {
    height: 72px;
    text-align: top;
  }
}
#tt_day {
  @include column(3);
  background-image: url('../../images/timetable_grid.png');
  background-position: 0 18px;
  height: 964px;
}

#tt_day,#hours {
  h2 {
    font-size: 13px;
    font-weight: bold;
    margin: 0;   
  }
}

#tt_day {
  h2 {
    background-color: #fff;    
    border: 1px $border-color solid;
    text-align: center;
  }
}

.timetable_event {
  @include column(3);
  @include border-radius(5px);
  @include box-shadow;
  position: absolute;
  /*border: 1px $border-color solid;*/
  background-color: #f6f6f6;
  overflow: hidden;
  .inner {
    margin: 3px;
  }
  h2 {
    background-color: #f6f6f6!important;
    border: none!important;
  }
}
