#top_bar {
  height: 30px;
  background: #ddd;
  @include box-shadow;
  vertical-align: middle;
  .inner {
    width: 950px;
    margin: 0 auto;
  }
  @include append-bottom;
  a {
    @include hover-link;
  }
  form#search_form {
    @include column (9);
    img {
      @include column (2);
      margin: 0 3px 0 0;
      width: 45px;
      &.icon {
        @include column (1);
      }
    }
    input#q {
      @include column (4);
      margin: 2px 5px 0 0;
      font-size: 0.8em;
    }
    input.search {
      @include column (2);
      width: 60px;
      height: 24px;
      margin-top: 2px;
    }
  }
  #multi-view {
    @include column(3);
    margin: 3px 3px 0 0;    
  }
  #notice {
    @include column(6);
    color: red;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
  }
  #login_name {
    @include column(6,true);
    text-align:right;
    img {
      width: 25px;
      margin: 3px 3px 0 0;        
    }    
  }
}
