#top_bar {
  height: 36px;
  background: #ddd;
  @include box-shadow;
  vertical-align: middle;
  .inner {
    width: 950px;
    margin: 0 auto;
  }
  @include append-bottom;
  a {
    @include hover-link;
  }
  #nav_logo {
    @include column (2);
    img {
      width: 56px;
    }    
  }
  form#search_form {
    @include column (6);
    input#q {
      @include column (4);
      margin: 5px 5px 0 0;
      font-size: 0.8em;
    }
    input#top_nav_search.search {
      @include column (2);
      width: 60px;
      height: 24px;
      margin: 5px 0 0;
    }
  }
  #multi-view {
    @include column(3);
    margin: 2px 3px 0 0;
    .block_border {
    @include column(3);   
    border-radius: 7px;
    border: 1px solid #BBBBBB;  
      .block {      
        overflow: hidden;
        .left {
          float: left;
          img {
            @include column(1);
          }
        }
      }
      .right {
      @include column(2,true);
      margin-top: 7px;
      }
    }
  }
  #notice {
    @include column(8);
    color: red;
    font-weight: bold;
    text-align: center;
  }
  #login_name {
    @include column(5,true);
    text-align:left;
    .left {
      float: left;
      img {
        @include column(1);
        margin-top: 2px;
      }
    }
    .right {
      @include column(4,true);
    }
  }
}
