/* line 4, ../../app/stylesheets/print.scss */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt;
}
/* line 52, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body .container {
  background: none;
}
/* line 54, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body hr {
  background: #cccccc;
  color: #cccccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none;
}
/* line 62, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body hr.space {
  background: white;
  color: white;
}
/* line 65, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
/* line 67, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body code {
  font-size: 0.9em;
  font-family: "andale mono", "lucida console", monospace;
}
/* line 72, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body a img {
  border: none;
}
/* line 75, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body a:link, body a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline;
}
/* line 79, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body p img.top {
  margin-top: 0;
}
/* line 81, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: 0.9em;
}
/* line 86, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body .small {
  font-size: 0.9em;
}
/* line 88, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body .large {
  font-size: 1.1em;
}
/* line 90, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body .quiet {
  color: #999999;
}
/* line 92, ../../../../../../usr/local/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_print.scss */
body .hide {
  display: none;
}
