%h2 Continuing Learning Review
= create_event_form ProgressionReview do |f|
  .span3
    %h5 Learner approved to continue onto next level of course? 
    = f.select :approved, {"Not Accepted" => false, "Accepted" => true}
  .span3
    %h5 If no, please select appropriate reason:
    = f.select :reason, Settings.progression_reviews_reasons.split(/,/), {}, {:activate_on => "progression_review_approved", :multiple => true}
  .span3#progression_reviews_conds_div{:style => "display:none"}
    %h5 Conditional offer based on successful completion of learner's current course which should be informed by the Term 3 Review
  = add_event_button
