%div{:class => event_classes(event, true)}
  %ul.span8
    %li.icon= image_tag(event.icon_url, :size => "24x24", :alt => event.title, :title => event.title)
    %li.title= event.title
    %li.body= event.body.truncate(80,:separator => " ")
