- unless request.xhr?
  %header#event_header= render :partial => "header"
#events= render @events
#more_events_div= link_to raw("&darr; Load more events &darr;"), events_url(:date => @bottom_date), :remote => true, :id => "more_events"
