%h1 Settings
- form_for :settings, :method => :put do
  %table
    - @settings.each do |setting|
      %tr
        %td= setting.humanize
        %td= text_field_tag setting, Settings[setting]
  = submit_tag
