%h2 Test Login

#login_as
  %div
    = form_tag test_login_url do
      %div
        %label Person Id
      %div= text_field_tag 'login'
      %div
        %label User Affiliation
      %div= select_tag "affiliation", options_for_select(["staff","student","affiliate"])
      %div= submit_tag "Login"
