form ng-controller="eventController"
  input type="text" name="eventable_type" ng-model="newEvent.eventable_type" value="contact_log"
  input type="text" name="person_id" ng-model="newEvent.person_id" value="{{ topic.mis_id }}"
  text-area name="body" ng-model="newEvent.body"
