%h6= link_to_if @affiliation == "staff", person_course.course.title, (Settings.ebs_course_base_url + person_course.course.mis_id)
.status= person_course.status.humanize
.details
  - if person_course.enrolment_date
    %b Start Date:
    = person_course.enrolment_date.strftime("%d %B %Y")
    %br
  - if person_course.end_date
    %b End-date:
    = person_course.end_date.strftime("%d %B %Y")
