- if progression_review.approved
  Conditional offer based on successful completion of learner's current course at specified grade which should be informed by the Term 3 Review.
- else
  Not approved to progress onto next level of current course.
  %ul
    - progression_review.reason.each do |r|
      %li= r
