- if progression_review.approved
  Conditional offer based on successful completion of learner's current course which should be informed by the Term 3 Review.
- else
  =raw progression_review.reason || "&nbsp;"
