- grades  = Settings.review_grades.split(",")
%table
  %tr 
    %th.span2 Quality of Work
    %td.span2= grades[review_line.quality]
    %th.span2 Punctuality
    %td.span2= grades[review_line.punctuality]
  %tr 
    %th.span2 Attitude
    %td.span2= grades[review_line.attitude]
    %th.span2 Completion of Work
    %td.span2= grades[review_line.completion]
