%table
  %tr 
    %th Quality of Work
    %td= review_line.quality
    %th Punctuality
    %td= review_line.punctuality
  %tr 
    %th Attitude
    %td= review_line.attitude
    %th Completion of Work
    %td= review_line.completion
