%table
  %tr 
    %th Quality of Work
    %td= review.quality
    %th Punctuality
    %td= review.punctuality
  %tr 
    %th Attitude
    %td= review.attitude
    %th Completion of Work
    %td= review.completion
