- grades  = Settings.review_grades.split(",")
%table
  %tr 
    %th.span3 Quality of Work
    %td.span1= grades[review_line.quality]
    %th.span3 Punctuality
    %td.span1= grades[review_line.punctuality]
  %tr 
    %th.span3 Attitude
    %td.span1= grades[review_line.attitude]
    %th.span3 Completion of Work
    %td.span1= grades[review_line.completion]
