Requested by
= support_request.created_by.name
%div
  %b Difficulties:
  = support_request.difficulties.blank? ? "none" : support_request.difficulties.join(", ")
%div
  %b Sessions:
  = support_request.sessions.try(:join, ", ") or "None"
