- person_course.entry_reqs.each do |course,ers|
  .span10
    - if ers.detect{|er| er.live or EntryReqMet.find_by_entry_req_id_and_person_id(er.id,person_course.person_id)}
      %h4= "#{ers.first.course_qual} #{ers.first.course_title}"
      %table.table
        = render ers.select{|er| er.live or EntryReqMet.find_by_entry_req_id_and_person_id(er.id,person_course.person_id)}

:coffeescript
  $('.er-met').on 'click', (e) ->
    f = $(e.target).closest('tr').next().find('form')
    f.find('#entry_req_met_met').attr('checked',true)
    f.submit()
    e.preventDefault()
  $('.er-not-met').on 'click', (e) ->
    f = $(e.target).closest('tr').next().find('form')
    f.find('#entry_req_met_met').attr('checked',false)
    f.submit()
    e.preventDefault()
  $('.er-nobut').on 'click', (e) ->
    tr = $(e.target).closest('tr')
    tr.next().toggle('fast').find('form').find('#entry_req_met_met').attr('checked',true)
    e.preventDefault()
  $('.er-nobut-cancel').on 'click', (e) ->
    tr = $(e.target).closest('tr')
    tr.toggle('fast')
    e.preventDefault()
  $('.entry_req_form_met').on 'ajax:complete', (event,data) ->
    tr = $(event.target).closest('tr')
    tr.prev().replaceWith data.responseText
    tr.hide('fast')
    
