#side_pane {

  h1 {
    font-size: 20px;
    @include text-shadow;
    margin-bottom:0;
    @include prepend-top(1ex);
  }

  h5 a {
    @include unstyled-link;
    @include hover-link;
  }

  #person_photo{
    width: 130px;
    height: 130px;
    background-image: url(/assets/pic-loading.gif);
    background-position: 50% 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 1px $border-color solid;
    @include border-radius;
    @include box-shadow;
    img {
      @include border-radius;
    }
  }

  nav { 
    @include prepend-top;
    h3 {
      @include prepend-top;
      @include column(4, true);
    }
    .sidebar_button{
      @include column(4);
      @include link-colors($font-color, mix($font-color,#00f));
      @include hover-link;
      .icon {
        @include column(1);
      }
      .label {
        @include column(3,true);
        font-size: 13px;
        font-weight: bold;
      }
    }
  }
}

#event_header {
  #event_controls {
    @include box-shadow;
    background: #fff;
    border: 1px solid $border-color;
    padding:1em;
    @include border-radius;
    @include column(19,true);
    @include append-bottom;
    width:760px;
  }
  h4 {
    font-weight: bold;
    margin-bottom: 3px;
  }
  div {
    margin-bottom: 1ex;
  }
  #event_controls {
    .icon {
      @include column(2);
    }
    textarea {
      height: 48px;
    }
    textarea,table {
      @include column(14);
    }
    input,textarea {
      margin-top:0;
    }
    .sumbit {
      @include column(2);
    }
  }
  #new_initial_review {
    textarea {
      @include column(8);
    }
    .review_scores {
      @include column(8);
      table {
        @include column(8);
      }
      td {
        padding: 0 10px 0 0;
      }
    }
  }
  #support_request_sessions {
    width: 300px
  }
}

.hovery {
  position: fixed;
  bottom:0px;
  right:0px;
  font-size:0;
}
.styled_button {
  background-color: #F5F5F5;
  @include border-radius(2px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9em; 
  color: #666;
  &:hover {
    background-color: #f2f2f2;
    @include single-box-shadow(#999, 0px, 0px, 1px, false, false);  
    border: 1px solid rgba(103, 103, 103, 0.1);
  }
}  

#flash_notice {
  position: fixed;
  margin:0px;
  padding:10px;
  top: 10px;
  right: 10px;
  background: #06c;
  color: #eee;
  @include border-radius;
  width:200px;
  @include opacity(0.75);
  &:hover {
    @include opacity(0.25);
  }
}


