- if @view.controls.kind_of? String
  #event_controls
    = render @view.controls
- elsif @view.controls.kind_of? Hash
  #event_controls
    .tabs
      %ul
        - @view.controls.each do |k,v|
          %li
            %a{:href => "##{k.tr(" ","").underscore}"}= k
      - @view.controls.each do |k,v|
        .tab{:id => k.tr(" ","").underscore}= render v
