- unless request.xhr? or @affiliation != "staff"
  %header#event_header= render :partial => "header"
- if @events.empty? and @future_events.empty?
  #events
    %br{:style => "clear:both"}
    %h1 You don't have any events, yet!
- else
  #events
    = render @future_events
    - unless (@future_events.empty? or @events.empty?)
      #current_time_break
        &uparrow; future
        %hr
        .tmp{:style => "text-align:right"} past &downarrow;
    = render @events
  #more_events_div= link_to raw("&darr; Load more events &darr;"), view_url(@view,:date => @bottom_date,:person_id => @topic.mis_id), :remote => true, :id => "more_events"
