.panel.panel-default
  .panel-body
    .row
      .text-left.col-xs-12
        %h4= topic.name
        %h4
          %small
            = topic.code
            &ndash;
            = topic.year
        - if @topic.person_courses.detect{|pu| !pu.tutorgroup.blank?}
          = tutorgroup_select @topic, @tutorgroup
        %h5.flags
