.masonry-events {
  @include grid-row;
  @include panel($padding: 0);
  padding-top: 10px;
  margin-top: 10px;
  leap-brick {
    @media #{$small-up}  { @include grid-column(12); }
    @media #{$medium-up} { @include grid-column(6); }
    @media #{$large-up}  { @include grid-column(4); }
    @media #{$xlarge-up} { @include grid-column(3); }
    margin-bottom: 8px;
    p { margin: 0 }
    article {
      @include radius;
      @include side-radius(bottom);
      background: $white;
      header {
        @extend .category-background;
        @include side-radius(top);
        h1,h3 { display: inline }
        padding: 6px;
      }
      time { 
        font-size: 80%;
        color: $aluminum;
      }
      .body {
        @include clearfix;
        padding: 5px;
      }
    }
  }
}
