body {
  background: #eee;
  .container{
    padding-top:1em;
    background: #fff;
  }
}
#clidebar {
  h2 {
    margin:0;
  }
  ul {
    list-style: none;
    padding-left:12px;
  }
  #moodle-courses {
    h3 {
      display:none;
    }
  }
}
#home {
  overflow: hidden;
  .tile {
    border-right:1px #fff solid;
    border-bottom:1px #fff solid;
    height: 200px;
    color: #eee;
    header{
      font-size: 24px;
      .front-event-menu {
        cursor: pointer;
      }
      .subtitle {
        color: #eea;
        font-size: 18px;
      }
    }
    .background-icon {
      overflow: hidden;
      i {
        position: absolute;
        font-size: 125px;
        bottom:0px;
        right:8px;
        color: #666666;
        opacity: 0.5;
      }
    }
  }
}
