body {
    background: #eee;
}

.container.nrp {
  padding-right: 0;
}

.navbar-toggle,#show-clidebar {
  margin-left:10px;
}

#clidebar {
  .panel {
    margin-bottom: 5px;
  }
  h2,h3,h4 {
    margin:0;
  }
  .flags i{
    cursor: help;
  }
  #timeline-links ul {
    list-style: none;
    padding-left:8px;
  }
  #moodle-courses h3 {
    display:none;
  }
}
#home {
  overflow: hidden;
  .tile {
    border-left:1px #eee solid;
    border-bottom:1px #eee solid;
    height: 200px;
    color: #eee;
    header,h1{
      font-size: 26px;
      margin:4px 0;
      .front-tile-menu {
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }
    h2{
      color: #eea;
      font-size: 22px;
      font-weight: bold;
      margin:0;
    }
    h3 {
      font-size: 18px;
    }
    .background-icon {
      overflow: hidden;
      i {
        position: absolute;
        font-size: 125px;
        bottom:0px;
        right:8px;
        color: #666666;
        opacity: 0.5;
      }
    }
  }
}

img#person-photo {
  transition: all 2s ease-in-out;
  &:hover { 
    transform: rotate(360deg); 
  }
}
