@font-face {
  font-family: 'Patua One';
  src: url('/assets/PatuaOne-Regular.ttf');
}

@font-face {
  font-family: 'Raleway Regular';
  src: url('/assets/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway SemiBold';
  src: url('/assets/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: 'Raleway Bold';
  src: url('/assets/Raleway-Bold.ttf');
}

@font-face {
  font-family: 'AnonymousPro Regular';
  src: url('/assets/AnonymousPro-Regular.ttf');
}
