$sidebar-width: 20%;

body,h1,h2,h3,h4,h5,li { font-family: "Raleway Regular" }

.top-bar .title-area img { 
  height: $topbar-height;
  padding: 8px 0;
}

.scrolling-pane {
  position: absolute;
  top: $topbar-height;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .25s ease-out;
}

.leap-sidebar {
  @extend .scrolling-pane;
  width: $sidebar-width;
  padding: 5px;
}

.sidebar-toggle-button {
  &.active .on  { display: none }
  .on           { display: inline }
  &.active .off { display: inline }
  .off          { display: none }
}

leap-user-bar {
  @extend .leap-sidebar;
  z-index: 10;
  background: white;
  left: $sidebar-width * -1; 
  @media #{$medium-up} { 
    left:0;
    &.off-canvas {
      left: $sidebar-width * -1; 
    }
  }
}

leap-topic-bar {
  @extend .leap-sidebar;
  background: white;
  z-index: 0;
  left: 0;
  @media #{$medium-up} { 
    left: $sidebar-width;
    &.off-canvas {
      left: $sidebar-width * -1; 
    }
  }
}

leap-user-bar.off-canvas + leap-topic-bar {
  left: 0;
  &.off-canvas {
    left: $sidebar-width * -1; 
  }
}

#main-content {
  @extend .scrolling-pane;
  background: green;
  right:0;
  background: white;
  width: 100% - $sidebar-width;
  @media #{$medium-up} { 
    width: 100% - (2 * $sidebar-width);
  }
}

leap-user-bar.off-canvas ~ #main-content,
leap-topic-bar.off-canvas + #main-content {
  width: 100% - $sidebar-width;
}

leap-user-bar.off-canvas + leap-topic-bar.off-canvas + #main-content {
  width: 100%
}
