body,leap-top-bar { min-width: 320px }

.number { font-family: $font-family-monospace }

[ng-cloak]#splash {
  display: block !important
}

#splash { display: none }

leap-top-bar {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 10;
  h3 { margin: 0 }
}

.category-background {
  background: $steel;
  color: $white;
  h1,h2,h3,h4,h5,p { color: $white }
}

.aa-date-input { display: inline }
