leap-top-bar leap-person {
  img { float: right }
  .name { color: $topbar-link-color }
}

leap-person {
  img { width: 100% }
  &[size=small] {
    img { 
      height: $topbar-height;
      width: auto;
    }
    .name {
      display: inline; 
    }
  }
  a { color: inherit }
  .name { 
    overflow: hidden;
    text-overflow: ellipsis;
    .forename,.surname {
      display: inline;
    }
  }
}
