leap-person {
  h1 { 
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }

  h1,.forename,.surname { display: inline }
  img { width: auto }
  a   { color: inherit }
}

.top-bar leap-person {
  img { 
    float:right;
    padding-left: 7px;
    height: $topbar-height 
  }

  h1 { 
    @media #{$small-only} { display: none }
    font-size: $h3-font-size;
    color: $topbar-link-color
  }

  a { padding:0 !important }
  .flags { display: none }
}

leap-timeline-event leap-person {
  .flags,.number { display: none }
}
