leap-top-bar {
  leap-person {
    img { 
      width: auto;
      float: right;
      height: $topbar-height;
    }
    .name { 
      display: inline; 
      color: $topbar-link-color;
    }
  }
}

leap-person {
  img { width: 100%    }
  a   { color: inherit }
  .name > div { display: inline }
}
