@import "screen";

//Recommended Blueprint configuration with scoping and semantic layout:
body {
  @include blueprint-print(true); 
}

#top_bar {
  display:none;
}

nav {
  display:none;
}

.event .buttons{
  display:none;
}
