@import "blueprint/reset";
@import "blueprint";
@import "compass/css3";
@import "compass/typography/links";
@import "partials/defaults";
@import "partials/layout";
@import "partials/home";
@import "partials/events";
@import "partials/timetable";
@import "partials/search";
@import "partials/top_bar";
@import "partials/colors";
@import "partials/jquery-ui";

body {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-interaction; 
}

a.unstyled_link{
  @include unstyled-link;
  }

.container {
  @include container;
  @include clearfix;
  @include prepend-top;
}

#side_pane {
  @include column(4);
}

#main_pane {
  @include column(20,true);
}

form {
  @include blueprint-form; 
}

#footer {
  border-top: 1px solid lighten($border-color, 40%);
  color: lighten($font-color, 30%);
  font-style: italic;
  text-align: right;
  clear:both;
  a {
    @include unstyled-link;
    @include hover-link;
  }
}
