#sidebar {
  .make-md-column(3);
  .panel {
    margin-bottom: 5px;
    ul {
      list-style: none;
      padding-left: 8px;
    }
  }

  .topic-buttons {
    .make-xs-column(6);
    a {
      text-align: left;
      text-overflow: ellipsis;
      overflow:hidden;
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        i      { display: none; }
      }
    }
  }
}
