#sidebar {
  .panel {
    margin-bottom: 5px;
    ul {
      list-style: none;
      padding-left: 8px;
    }
  }

  .topic-buttons {
    .make-xs-column(6);
    a {
      text-align: left;
    }
  }

  #timeline-links {
    li {
      .make-row;
      img {
        .make-xs-column(2);
        .make-md-column(3);
      }
      span {
        .make-md-column(9);
      }
    }
  }
}
