#timetable {
  position: relative;
  .day { 
    @include grid-column(2, $collapse: true);
    background: $white;
    h1 { 
      text-align: center;
      font-size: $h3-font-size;
    }

    &.even {
      background: $snow;
    }

    &.day-1.weekend,&.day-2.weekend {
      display: none;
    }

    &.day-0:not(.weekend),&.day-6:not(.weekend) {
      display: none;
    }
 
  }

  .hour {
    border-top: 1px solid $silver;
    height: 60px;
  }
  
  .times,.scroll {
    @include grid-column(1);
    padding-top: 40px;
  }

  a.scroll {
    @include button($radius: true);
  }
  
  leap-timetable-event,leap-register-event {
    position: absolute;
    @include grid-column(2);
    
    article { 
      padding: 3px;
      overflow: hidden;
      @include radius;
      font-size: 0.8;
      h4 { 
        font-size: $h4-font-size;
        font-weight: bold;
        margin: 0
      }
      .teachers { font-style: italic }
    }

    &:hover {
      z-index: 10;
      article {
        width: 200px;
        opacity: 0.9;
        height: auto !important;
      }
    }
  }

  leap-timetable-event article { @extend .category-background }

  leap-register-event {
    &.incomplete article { background: $alert-color     }
    &.complete   article { background: $success-color   }
    &.current    article { background: $warning-color   }
    &.unknown    article { background: $secondary-color }
  }
}
