#leap-timeline {
  .list-group;
  .leap-event {
    .list-group-item;
    .clearfix;
    h1,h2 {
      margin: 0;
    }
    h2 {
      font-size: 18px;
      font-family: "Patua One";
    }
    .leap-icon {
      .make-xs-column(2);
      .make-sm-column(1);
      img {
        .img-rounded;
        width: 48px;
        height: 48px;
      }
    }
    .leap-event-main {
      .make-xs-column(10);
      .make-sm-column(11);
    }
  }
}
