leap-timeline-date {
  @include grid-row;
  .previous,.next {
    @include grid-column(2);
    a{ 
      @include button($padding: $button-med, $radius: $button-round);
      margin: 5px 0;
    }
  }
  .the-date-input {
    @include grid-column(2);
    input { 
      margin:0;
      margin: 5px 0;
    }
  }
}
