.no-events {
  @include alert($bg: $warning-color);
}

#timeline {
  h1.academic-year {
    @include radius;
    font-size: $h2-font-size;
    background: #44a;
    color: $white;
    padding: 5px 1ex;
  }

  leap-timeline-event {
    @include grid-row;
    .time,.date {min-height:1px}
    .date { 
      @media #{$small-only} { @include grid-column(2) }
      @media #{$medium-up}  { @include grid-column(1) }
      @include radius;
      text-align: center;  
      background: #a44;
      border-bottom: 1px white solid;
      h3 { 
        color: $white;
        line-height: 1;
      }
    }
    .time {
      @media #{$medium-up } { @include grid-column(1) }
      @media #{$small-only} { display: none }
    }
    leap-person        { @include grid-column(2) }
    h1.icon            { @include grid-column(1) }
    .body              { @include grid-column(8) }
    leap-person +.body { @include grid-column(6) }
  }
}
