.topbar-gap { height: $topbar-height }

header.topic-header {
  background: $iron;

  leap-person-header,leap-course-header {
    @include clearfix;
    .inner { 
      @include grid-row;
      padding: 5px 0;
    }
    img { 
      @include radius;
      max-height: 150px;
      max-width: 150px;
    }
    &:not(.fixed) { 
      h1 { margin: 0 }
      .topic-and-flags{ 
        @media #{$small-up}  { @include grid-column(12, $collapse: true) }
        @media #{$medium-up} { @include grid-column(5,  $collapse: true) }
         leap-person {
           @include grid-row($behavior: collapse);
           img { @include grid-column(5, $collapse: true)}
           .name,.flags { @include grid-column(7)}
         } 
      }
      .details{
        @media #{$small-up}  { display: none } 
        @media #{$medium-up} { display: block; @include grid-column(7) }
        .details-tabs {
          @include sub-nav;
          dd:first-child { margin-left: 0 }
        }
      }
    }

    &.fixed {
      background: $iron;
      top: $topbar-height;
      h1 { 
        font-size: $h3-font-size;
        margin: 0;
      }

      leap-person {
        img { height: $topbar-height; width: auto }
        .flags { display: none }
      }
      leap-person { padding-left: 0 }

      .topic-and-flags{ 
        @media #{$large-up}  { @include grid-column(4, $collapse: true) }
       }

      leap-views-menu {
        &:hover li { display: block }
        ul { padding: 0 }
        li {
          display: none;
          &.heading { 
            display: block;
            margin-top: 9px;
          }
        }
      }
    }

    leap-views-menu {
      ul {
        @include grid-column(4);
        @include side-nav;
        padding: 0;
        li a { padding-left: 0 !important }
        li.active { background: $snow }
        li { margin-bottom: 0px }
      }
    }

  }
}
