$topic-header-bg: $smoke;

.topbar-gap { height: $topbar-height }

header.topic-header {
  background: $topic-header-bg;

  leap-person-header,leap-course-header {
    @include clearfix;
    .inner { @include grid-row }
    .details{
      &.show-topic {
        @media #{$small-only} { display: none }
      }
      &:not(.show-topic) {
        @media #{$small-only}  { @include grid-column(12, $collapse: true) }
      }
      @media #{$medium-up} { display: block; @include grid-column(7) }
      .details-tabs {
        @include sub-nav;
        dd:first-child { margin-left: 0 }
      }
    }
    &:not(.fixed) { 
      .inner { 
        padding: 5px;
        @media screen and (min-width: 1115px) {
          padding: 5px 0;
        }
      }
      h1 { margin: 0 }
      .topic-and-flags{ 
        &.show-topic {
          @media #{$small-only} { display: none }
        }
        &:not(.show-topic) { 
          @media #{$small-only}  { @include grid-column(12, $collapse: true) }
        }
        @media #{$medium-up} { @include grid-column(5,  $collapse: true) }
         leap-person {
           @include grid-row($behavior: collapse);
           img { @include grid-column(5, $collapse: true)}
           .name,.flags { @include grid-column(7)}
         } 
      }
      img { 
        @include radius;
        max-height: 150px;
        max-width: 150px;
      }
    }

    &.fixed {
      background: $topic-header-bg;
      top: $topbar-height;
      h1 { 
        font-size: $h3-font-size;
        margin: 0;
      }

      leap-person {
        img { height: $topbar-height; width: auto }
        .flags { display: none }
      }
      leap-person { padding-left: 0 }

      .topic-and-flags{ 
        @media #{$large-up}  { @include grid-column(4, $collapse: true) }
      }

      leap-views-menu {
        &:hover li { display: block }
        li {
          display: none;
          &.heading { 
            display: block;
            margin-top: 9px;
          }
        }
      }
      .links-toggle { display: none }
    }

    leap-views-menu {
      ul {
        @include grid-column(4);
        @include side-nav;
        padding: 0;
        li a { padding-left: 0 !important }
        li.active { background: $snow }
        li { margin-bottom: 0px }
      }
    }

    .links-toggle {
      @media #{$medium-up} { display: none }
      @include button($padding: $button-tny)
    }
  }
}
