.btn-group.btn-group-justified.panel
  - if controller_name == "timetables"
    %a.btn.btn-default(ng-href="/people/{{ topic.mis_id }}" ng)
      %i.fa.fa-fw.fa-home
      Home
  - else
    %a.btn.btn-default(ng-href="/people/{{ topic.mis_id }}/timetables")
      %i.fa.fa-fw.fa-calendar
      Timetable
  - if @user.staff?
    = link_to(Settings.ebs_person_base_url + @topic.mis_id.to_s, :class => "btn btn-default") do
      %i.fa.fa-fw{:class => Settings.ebs_link_icon}
      = Settings.ebs_link_name

