.btn-group.btn-group-justified.panel
  - if !@topic.staff?
    - if controller_name == "timetables"
      = link_to(person_url(@topic), :class => "btn btn-default") do
        %i.fa.fa-fw.fa-home
        Home
    - else
      = link_to(person_timetables_url(@topic), :class => "btn btn-default") do
        %i.fa.fa-fw.fa-calendar
        Timetable
  - if @user.staff?
    = link_to(Settings.ebs_person_base_url + @topic.mis_id.to_s, :class => "btn btn-default") do
      %i.fa.fa-fw{:class => Settings.ebs_link_icon}
      = Settings.ebs_link_name

