.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{"data-toggle" => "collapse", "data-parent" => "#sidebar-accordion", :href => "#timeline-links"}
        %i.fa.fa-clock-o.fa-fw
        Navigation
  #timeline-links.panel-collapse.collapse.in
    .panel-body
      %ul=render @views
