.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a(data-toggle="collapse" data-parent="#sidebar-accordion" data-target="#timeline-links")
        %i.fa.fa-clock-o.fa-fw
        Timeline
  #timeline-links.panel-collapse.collapse.in
    .panel-body
      %ul(ng-controller='viewsController')
        %li(ng-repeat="view in views") 
          %a(ng-href="/views#/timeline/{{ view.name }}/{{ $root.topic.mis_id }}") 
            %img(ng-src='/assets/{{ view.icon_url }}')
            {{ view.label }}
