<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" />
  </head>
  <body>
    <div id="container">
      <header>
        <h1><a href="/"><img src="/images/leap-logo.png" alt="Leap" /></a></h1>
        <h2>Open Source Electronic Individual Learning Plans</h2>
        <nav>
          <a href="/">Home</a>
          <a href="/blog.html">Blog</a>
          <a href="http://github.com/sdc/leap">Code</a>
        </nav>
      </header>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>

