<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/leap/style.css" type="text/css" />
    <link rel="stylesheet" href="/leap/slideshow.css" type="text/css" />
    <script type="text/javascript" src="/leap/mootools-core.js"></script>
    <script type="text/javascript" src="/leap/mootools-more.js"></script>
    <script type="text/javascript" src="/leap/slideshow.js"></script>
  </head>
  <body>
    <div id="container">
      <header>
        <h1><a href="/"><img src="/leap/images/leap-logo.png" alt="Leap" /></a></h1>
        <h2>Open Source Electronic Individual Learning Plans</h2>
        <nav>
          <a href="/leap/">Home</a>
          &nbsp;|&nbsp;
          <a href="/leap/features.html">Features</a>
          &nbsp;|&nbsp;
          <a href="/leap/blog.html">Blog</a>
          &nbsp;|&nbsp;
          <a href="http://github.com/sdc/leap">Code</a>
        </nav>
        <div id="icons">
          <a href="/leap/atom.xml">
            <img src="/leap/images/rss.png" />
          </a>
          <a href="http://twitter.com/leapilp">
            <img src="/leap/images/twitter.png" />
          </a>
          <a href="https://plus.google.com/111104934124148880506">
            <img src="/leap/images/plus.png" />
          </a>
        </div>
      </header>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>

