td.status ng-class="enrolment.status"
  a ng-href="#/person/{{ person.mis_id }}" {{ person.name }}
td {{ person.lat_score || ""}}
td 
td {{ person.attendance_data.overall.att_year }}
//td ng-repeat-start="c in categories" ng-style="c.styles.bg" ng-if="c.title != 'Core'" {{ person.grade_data[c.title.toLowerCase()].name}}
td ng-repeat-start="c in categories" ng-style="c.styles.bg" ng-if="c.title != 'Core'" {{ person.grade_data[c.title.toLowerCase()].name}}
td ng-style="c.styles.bg" {{ person.attendance_data[c.title.toLowerCase()].att_year}}
td ng-style="c.styles.bg" {{ person.grade_data[c.title.toLowerCase()].total}}
td ng-repeat-end=true ng-style="c.styles.bg" {{ person.grade_data[c.title.toLowerCase()].tag}}
td 
  .label.radius.alert ng-if="person.pi_count > 0" {{ person.pi_count }}
td ng-if="person.current_review" title="{{ person.current_review.window }}"
  i.fa.fa-star ng-if="person.current_review.published"
  i.fa.fa-star-half-full ng-if="!person.current_review.published"
td
td
