-#
  - if @view.controls? and params[:all].nil?
    %div{:load_block => send("header_#{@topic.class.name.underscore}_view_url",@topic,@view,:tutorgroup => @tutorgroup)}= image_tag "ajax-loader.gif"
.alert.alert-warning(ng-hide="events.length > 0")
  Nothing to show!
%ul#leap-timeline(ng-controller="timelineEventsController")
  %li.leap-event(ng-repeat="event in events track by event.id")
    %img.leap-icon(src="/assets/ajax-loader.gif" ng-src="{{ event.icon_url | iconUrl }}")
    .leap-event-main
      %h2
        %span(ng-bind-html="event.title || eventable_type")
        %small {{ event.event_date | date:'d MMMM yyyy' }}
      %p(ng-bind-html="event.body")
  %button(ng-click="getEvents()") Load more events
