.alert.alert-warning(ng-if="events.length == 0")
  Nothing to show!
%ul#leap-timeline
  %li.leap-event(ng-repeat="event in events track by event.id")
    .leap-icon
      %img(src="/assets/ajax-loader.gif" ng-src="{{ event.iconUrlRaw || (event.iconUrl | iconUrl) }}")
    .leap-event-main
      .text-muted.small {{ event.date | leapDate }}
      %h2
        I {{ event.verb }} {{ event.title }}
        %span(ng-if="event.targetDate") by {{ event.targetDate | date }}
      %p(ng-if="event.text") {{ event.text }}
%button(ng-click="getEvents()") Load more events
