-#
  - if @view.controls? and params[:all].nil?
    %div{:load_block => send("header_#{@topic.class.name.underscore}_view_url",@topic,@view,:tutorgroup => @tutorgroup)}= image_tag "ajax-loader.gif"
.alert.alert-warning(ng-hide="events.length > 0")
  Nothing to show!
%ul#leap-timeline
  %li.leap-event(ng-repeat="event in events track by event.id" id="leap-event-{{ event.id }}")
    .leap-icon
      %img(src="/assets/ajax-loader.gif" ng-src="{{ event.iconUrl | iconUrl }}")
    .leap-event-main
      .text-muted.small {{ event.date | date:'d MMMM yyyy' }}
      %h2
        I {{ event.verb }} {{ event.text }}<span ng-if="event.targetDate"> by {{ event.targetDate | date }}</span>
  %button(ng-click="getEvents()") Load more events
