.leap-icon
  %img(src="/assets/ajax-loader.gif" ng-src="{{ icon_url | iconUrl }}")
.leap-event-main
  %h2
    %span(ng-bind-html="title")
    %small {{ event_date | date:'d MMMM yyyy' }}
  %p(ng-bind-html="body")
