.topbar-gap
header ng-class="{fixed: collapseTopicBar }"
  leap-person-header ng-if="topic.topicType=='person'" mis-id="topic.mis_id"
  leap-course-header ng-if="topic.topicType=='course'" mis-id="topic.mis_id"
