.topbar-gap
header ng-class="{fixed: collapseTopicBar }"
  leap-person-header ng-if="topic.topic_type=='person'" mis-id="topic.mis_id"
  leap-course-header ng-if="topic.topic_type=='course'" mis-id="topic.mis_id"
