- if @user.admin? or @user.superuser?
  %li.dropdown
    %a{:href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown"}
      %i.icon-cog
      Admin
      %i.icon-chevron-down
    %ul.dropdown-menu
      - if @user.superuser?
        %li
          = link_to admin_stats_url do
            %i.icon-signal
            Stats
        %li
          = link_to admin_settings_url do
            %i.icon-wrench
            Settings
        %li
          = link_to admin_views_url do
            %i.icon-th-list
            Views
      %li
        = link_to admin_absences_url do
          %i.fa.fa-align-justify.fa-fw
          Absence Report            
