:javascript
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '#{Settings.google_analytics_code}']);
  _gaq.push(['_setCustomVar',1,'Affiliation','#{@affiliation}',1]);       // Push the affiliation to google analytics
  _gaq.push(['_setCustomVar',2,'View','#{@view.try(:name) || "nil"}',3]); // Push the view name (if there is one) to ganalytics
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
